<script type="text/javascript">
function random_link()
{
    var links = new Array(
    
    "https://www.youtube.com/watch?v=PbEKIW3pUUk",
    "https://www.youtube.com/watch?v=XuKjBIBBAL8",
    "https://www.youtube.com/watch?v=R4ptu_9e3SE",
    "https://www.youtube.com/watch?v=KT_bu9QpOFg",
    "https://www.youtube.com/watch?v=8S0FDjFBj8o",
    "https://www.youtube.com/watch?v=2BmGMi0IEx4",
    "https://www.youtube.com/watch?v=8Yo2UkL-n_Q",
    "https://www.youtube.com/watch?v=NrBop7xvcIU",
    "https://www.youtube.com/watch?v=dwEDgSECGiU",
    "https://www.youtube.com/watch?v=YoB8t0B4jx4",
    "https://www.youtube.com/watch?v=jNQXAC9IVRw",
    "https://www.youtube.com/watch?v=W85F-UmnbF4",
    "https://www.youtube.com/watch?v=65nfbW-27ps",
    "https://www.youtube.com/watch?v=0P09u_jzCPY",
    "https://www.youtube.com/watch?v=FTIhdkj5FQw",
    "https://www.youtube.com/watch?v=41_d4D7T6uI",
    "https://www.youtube.com/watch?v=YrEr9Z0LUtA",
    "https://www.youtube.com/watch?v=1eufT99q2yI",
    "https://www.youtube.com/watch?v=bAIbvlobWDM",
    "https://www.youtube.com/watch?v=CHWHXmLg7YE",
    "https://www.youtube.com/watch?v=ylhsbfQTPDQ",
    "https://www.youtube.com/watch?v=IKMgsHnFg5o",
    "https://www.youtube.com/watch?v=tyfhWUxCpVc",
    "https://www.youtube.com/watch?v=2a6mEhPLjsk",
    "https://www.youtube.com/watch?v=0WM7zWFXEX8",
    "https://www.youtube.com/watch?v=IGjyKU8VVXU",
    "https://www.youtube.com/watch?v=ZiCIzVn96pI",
    "https://www.youtube.com/watch?v=8VSFjyF3B5E",
    "https://www.youtube.com/watch?v=EGNCobG0HbQ",
    "https://www.youtube.com/watch?v=AfeAhCWaMD0",
    "https://www.youtube.com/watch?v=5V2D1aXX_UM",
    "https://www.youtube.com/watch?v=c17xydS2vgU",
    "https://www.youtube.com/watch?v=DnKOzdEa80A",
    "https://www.youtube.com/watch?v=QZShA_a-5r8",
    "https://www.youtube.com/watch?v=7yh9i0PAjck",
    "https://www.youtube.com/watch?v=h_jrebvmPlk",
    "https://www.youtube.com/watch?v=jFJrmbmnjAA",
    "https://www.youtube.com/watch?v=A0VYsiMtrNE",
    "https://www.youtube.com/watch?v=xyzSP5l0dio",
    "https://www.youtube.com/watch?v=6G3O60o5U7w",
    "https://www.youtube.com/watch?v=P0EvZOinMSM"
    )
    var myrandom = Math.floor(Math.random()*links.length)
    window.location=links[myrandom]
}

function random_link_fr()
{
    var links = new Array(
    "https://www.youtube.com/watch?v=kzAZ0kR2B1Q",
    "https://www.youtube.com/watch?v=LzApW0WsVfs",
    "https://www.youtube.com/watch?v=SHJ1HL4eMLQ",
    "https://www.youtube.com/watch?v=jiv8Okc-pbA",
    "https://www.youtube.com/watch?v=pEss6uttxbA",
    "https://www.youtube.com/watch?v=jnGftcdnIB4",
    )
    var myrandom = Math.floor(Math.random()*links.length)
    window.location=links[myrandom]
}
</script>
<a href="javascript:random_link()">
<img src="../assets/box.png" width="80" />
</a>